<!-- Columns -->
<div class="row">
  <!-- Dashboard -->
  <%= render 'admin_panel' %>

  <!-- Body Content -->
  <div class="col-md-9">
    <h3 class="item-title">Welcome to your Administrator Account, <%= @user.email %>.</h3>
    <p>Here you have complete control of the Canadian Poncho Portal. Feel free to manage the application through the menu on the left.</p>

    <!-- Widgets -->
    <div class="row">
      <!-- Approval Feed -->
      <div class="col-sm-12">
        <div class="admin-widget">
          <h1 class="widget">Records Waiting for Approval</h1>
          <table class="table">
            <tr>
              <th>Make</th>
              <th>Model</th>
              <th>Year</th>
              <th>User</th>
              <th>View</th>
            </tr>
            <%= render partial: 'registry_requests/index', collection: @registry_requests, as: :request %>
          </table>
        </div>
        <%= link_to "View All", registry_requests_path, class: "item-more" %>

        <!-- Current -->
        <h3 class="item-bold bottom top">Current Registry Vehicles</h3>

        <% if @vehicles_approved.empty? %>
          <p>You have no vehicles in the Registry.</p>
        <% end %>

        <div class="row">
          <% @vehicles_approved.each do |vehicle| %>
            <div class="col-sm-4">
              <%= link_to vehicle.make, vehicle, class: "edit" %>
              
              <% if current_user == @user %>
                <dl class="notes">
                  <dt>Notes:</dd>
                  <dd><%= vehicle.vehicle_request_approved_notes %></dt>
                </dl>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
