<!-- Columns -->
<div class="row">
  <!-- Dashboard -->
  <%= render 'member_panel' %>

  <!-- Body -->
  <div class="col-sm-9">
    <h3 class="body-title">Welcome to your Account, <%= @user.name %>.</h3>
    <p>Here you have access to do certain things, such as <a href="#">submit</a> your vehicle to the Canadian Poncho Registry. Please view the menu on the left for your available options.</p>

    <h3 class="item-title">Vehicles Pending Registry Approval</h3>
    <ul>

      <% @vehicles_pending.each do |vehicle| %>
        <li><p><%= vehicle.make %></p></li>
      <% end %>

    </ul>

    <h3 class="item-title">Vehicles Requiring Resubmission</h3>
    <ul>
      
      <% @vehicles_denied.each do |vehicle| %>
        <li><p><%= link_to vehicle.make, vehicle %></p></li>
      <% end %>

    </ul>

    <h3 class="item-title">Current Registry Vehicles</h3>
    <ul>
    
      <% @vehicles_approved.each do |vehicle| %>
        <li><p><%= link_to vehicle.make, vehicle %></p></li>
      <% end %>
      
    </ul>

  </div>
</div>