<!-- Columns -->
<div class="row">
  <!-- Dashboard -->
  <%= render 'member_panel' %>

  <!-- Body -->
  <div class="col-sm-9">
    <h3 class="body-title">Welcome to your Account, <%= @user.name %>.</h3>
    <p>Here you have access to do certain things, such as <a href="#">submit</a> your vehicle to the Canadian Poncho Registry. Please view the menu on the left for your available options.</p>

    <!-- Pending -->
    <h2>Vehicles Pending Registry Approval</h2>
    <hr />
    <div class="row">
      <% @vehicles_pending.each do |vehicle| %>
        <div class="col-sm-4">
          <div class="user-widget bottom">
              
            <p><%= vehicle.make %></p>
              
          </div>
        </div>
      <% end %>
    </div>

    <!-- Resubmission -->
    <h2>Vehicles Requiring Resubmission</h2>
    <hr/>
    <div class="row">
      <% @vehicles_denied.each do |vehicle| %>
        <div class="col-sm-4">
          <div class="user-widget resubmit-widget bottom">
            <p><%= link_to vehicle.make, vehicle %></p>
            <p>"<%= vehicle.vehicle_request_notes %>"</p>
            <p><%= link_to "Resubmit", re_edit_vehicle_path(vehicle) %></p>
          </div>
        </div>
      <% end %>
    </div>


    <!-- Current -->
    <h2>Current Registry Vehicles</h2>
    <hr />
    <div class="row">
      <% @vehicles_approved.each do |vehicle| %>
        <div class="col-sm-4">
          <div class="user-widget approved-widget bottom">
            <p><%= link_to vehicle.make, vehicle %></p>
            <p><%= vehicle.vehicle_request_notes %></p>
          </div>
        </div>
      <% end %>
    </div>
    </ul>

  </div>
</div>