<div id="devise">
  <h3 class="dashboard-title">Log in</h3>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, placeholder: "Enter email" %>

      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "Enter password" %>

      <% if devise_mapping.rememberable? %>
        <%= f.label :remember_me do %>
          <%= f.check_box :remember_me %> Remember me
        <% end %>
      <% end %>
      <%= f.submit "Sign in", class: "edit" %>

      <%= render "devise/shared/links" %>
  <% end %>
</div>
