<tr>
  <td><%= request.vehicle.make %></td>
  <td><%= request.vehicle.model %></td>
  <td><%= request.vehicle.year %></td>
  <td><%= request.vehicle.user.name %></td>
  <td><%= link_to "Show", request %></td>
</tr>