<%= render partial: 'users/admin_panel' %>

<div class="col-sm-9">
  <h3 class="body-title">Requests Pending Approval</h3>
  <% @registry_requests.each do |request| %>
    <div><%= request.vehicle.make %></div>
    <div><%= request.vehicle.model %></div>
    <div><%= request.vehicle.description %></div>
    <%= link_to "Show", request %>
    <hr />
  <% end %>
</div>