<%= render partial: 'users/admin_panel' %>

<div class="col-sm-9">
  <%= render partial: 'vehicles/vehicle', locals: {vehicle: @registry_request.vehicle } %>
  <hr/>

  <%= form_for @registry_request do |f| %>
      <div class="form-group">
        <%= f.label :notes %>
        <%= f.text_area :notes, class: 'form-control', placeholder: "Enter notes" %>
      </div>

      <div class="form-group">
        <%= f.submit "Approve" %>
        <%= f.submit "Deny" %>
      </div>
  <% end %>
</div>
