<div id="secondary-wrapper">

  <div id="dash-menu">
    <%= render partial: 'users/admin_panel' %>
  </div>

  <div id="dash-content">
    <%= render partial: 'vehicles/vehicle', locals: {vehicle: @registry_request.vehicle } %>
    <hr/>

    <%= form_for @registry_request do |f| %>
          <%= f.label :notes %>
          <%= f.text_area :notes, class: 'form-control', placeholder: "Enter notes" %>

          <%= f.submit "Approve" %>
          <%= f.submit "Deny" %>
    <% end %>
  </div>
  
</div>
