<div><%= @registry_request.vehicle.make %></div>
<div><%= @registry_request.vehicle.model %></div>
<div><%= @registry_request.vehicle.description %></div>
<%= link_to "Approve", approve_registry_request_path, method: :patch %>
<%= link_to "Deny", deny_registry_request_path, method: :patch %>