<%
   if defined? action
       url_options = {action: action}
   else
       url_options = nil
   end
   puts url_options
%>
<%= form_for(vehicle, url: url_options, html: {class: "directUpload", data: {'form-data' => (s3_direct_post.fields), 'url' => s3_direct_post.url, 'host' => URI.parse(s3_direct_post.url).host}}) do |f| %>
    <% if vehicle.errors.any? %>
        <ul>
          <h1>Errors:</h1>
          <% vehicle.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>

      <%= f.label :make %>
      <%= f.text_field :make, placeholder: "e.g. Pontiac" %>

      <%= f.label :model %>
      <%= f.text_field :model, placeholder: "e.g. Grande Parisienne" %>

      <%= f.label :year %>
      <%= f.text_field :year, placeholder: "e.g. 1966" %>

      <%= f.label :production_date %>
      <%= f.text_field :production_date, placeholder: "e.g. January 5, 1966" %>

      <%= f.label :engine %>
      <%= f.text_field :engine, placeholder: "e.g. 350" %>

      <%= f.label :transmission %>
      <%= f.text_field :transmission, placeholder: "e.g. 4 speed Muncie-wide ratio" %>

      <%= f.label :trim %>
      <%= f.text_field :trim, placeholder: "e.g. Red" %>

      <%= f.label :color %>
      <%= f.text_field :color, placeholder: "e.g. Black" %>

      <%= f.label :options %>
      <%= f.text_field :options, placeholder: "e.g. Tinted glass, Strato bench seat, etc" %>

      <%= f.label :location %>
      <%= f.text_field :location, placeholder: "e.g. Manitoba, Canada" %>

      <%= f.label :description %>
      <%= f.text_area :description, placeholder: "Tell us about your vehicle. How did you acquire it? What did you do to it?" %>

    <% if vehicle.primary_image %>
        <h3 class="dashboard-title">Primary Gallery Image</h3>
        <%= image_tag vehicle.primary_image.image %>
        <p><%= link_to "Remove Image", vehicle_image_path(vehicle.primary_image), method: :delete, class: "denied" %></p>
        <p><strong>Please note:</strong> Clicking the above button will delete your photo from your profile. If you want
          to change your primary image, simply click the green button, "Make Primary".</p>
        <hr/>
    <% end %>

    <% if vehicle.vehicle_images.length > 0 %>
      <div id="flex-thumbnails">
        <% vehicle.vehicle_images.each do |img| %>
        <div class="thumbnail">
          <%= image_tag img.image %>
          <div class="thumbnail-buttons">
          <%= link_to "Remove Image", vehicle_image_path(img), method: :delete, class: "denied" %>
          <%= link_to "Make Primary", vehicle_image_path(img), method: :patch, class: "edit" %>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>

    <%= f.fields_for :vehicle_images do |p| %>
          <%= p.label :images %>
          <p>Please upload images of the same dimensions.</p>
          <p>To add multiple files please hold shift + click or ctrl + click.</p>
          <%= p.file_field :image, :multiple => true, name: "vehicle[vehicle_images][image][]" %>
    <% end %>

      <%= f.submit "Submit", class: 'submit' %>
<% end %>

<%= javascript_tag do %>
    $(document).ready(function(){
    directUploadInit();
    });
<% end %>
