<div id="secondary-wrapper">
  <div id="primary-content">
    <h2><%= vehicle.user.username %>'s <%= vehicle.year %> <%= vehicle.make %></h2>

    <% if policy(vehicle).edit? %>
        <%= link_to "Edit", edit_vehicle_path(vehicle), class: 'edit' %>
    <% end %>

    <% if vehicle.primary_image %>
        <%= image_tag vehicle.primary_image.image, class: "primary-image" %>
    <% end %>

    <div id="thumbbox">
      <% vehicle.vehicle_images.each do |img| %>
        <div class="thumb">
            <%= image_tag img.image, class: "secondary-image thumbnail" %>
        </div>
      <% end %>
    </div>

    <hr />

    <p class="mobile"><%= vehicle.description %></p>
  </div>

  <div id="secondary-content">
    <h2 class="specifications">Specifications</h2>
    <dl>
      <dt>Owner:</dt>
      <dd><%= vehicle.user.username %></dd>
      <dt>Make:</dt>
      <dd><%= vehicle.make %></dd>
      <dt>Model:</dt>
      <dd><%= vehicle.model %></dd>
      <dt>Year:</dt>
      <dd><%= vehicle.year %></dd>
      <dt>Production Date:</dt>
      <dd><%= vehicle.production_date %></dd>
      <dt>Engine:</dt>
      <dd><%= vehicle.engine %></dd>
      <dt>Transmission:</dt>
      <dd><%= vehicle.transmission %></dd>
      <dt>Trim:</dt>
      <dd><%= vehicle.trim %></dd>
      <dt>Color:</dt>
      <dd><%= vehicle.color %></dd>
      <dt>Options:</dt>
      <dd><%= vehicle.options %></dd>
      <dt>Location:</dt>
      <dd><%= vehicle.location %></dd>
    </dl>
  </div>
</div>
<%= javascript_tag do %>
    $(document).ready(function(){
    var primaryImage = $(".primary-image");
    $(".thumbnail:first").addClass("active-secondary");

    $(".thumbnail").click(function(e) {
    $(".thumbnail").removeClass("active-secondary");
    $(this).addClass("active-thumbnail");
    primaryImage.attr("src", $(e.target).attr("src"));
    });
    });
<% end %>
