<div id="secondary-wrapper">
  <section class="filter">
    <span class="toggleNav" data-target-id="filter" onclick="toggleNavMenu(event)"><i class="fa fa-check-square-o"></i> Vehicle Filter</span>

    <nav id="filter" class="flex-nav">
      <%= form_tag filter_vehicles_path do |f| %>
          <h1>Make: </h1>
          <ul>
            <% Vehicle.makes.each do |make| %>
                <li>
                  <%= display_chosen_check_box_tag(make, params[:makes], "makes[]") -%>
                  <%= make -%>
                </li>
            <% end %>
          </ul>

          <h1>Year: </h1>
          <ul>
              <% Vehicle.year_ranges.each do |range| %>
                  <li>
                    <%= display_chosen_check_box_tag(range, params[:years], "years[]") -%>
                    <%= range -%>
                  </li>
              <% end %>

              <li><%= submit_tag "Filter", class: "sort" %></li>
          </ul>
      <% end %>
    </nav>
  </section>

  <section class="content">
    <% @vehicles.each do |vehicle| %>
      <div>
        <h2><%= link_to "#{vehicle.make} #{vehicle.model}", vehicle %></h2>
          <%= image_tag(vehicle.primary_image.image, class: "img-responsive") if vehicle.primary_image %>
          <p><%= vehicle.user.name %>'s <%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %></p>
          <%= link_to "View Details", vehicle, class: "details" %>
      </div>
    <% end %>
  </section>
</div>
