<div class="row">
  <!-- Side Column -->
  <div class="col-sm-3">
    <h3 class="item-category">Select make: </h3>
    <ul class="side-menu">
      <li><a href="#">Pontiac</a></li>
      <li><a href="#">Beaumont</a></li>
      <li><a href="#">Acadian</a></li>
    </ul>
    <h3 class="item-category">Sort by: </h3>
    <ul class="side-menu">
      <li><a href="#">Year</a></li>
      <li><a href="#">Engine</a></li>
      <li><a href="#">Vin</a></li>
    </ul>
    <h3 class="item-category">Vehicle Model</h3>
    <ul class="side-menu">
      <li><a href="#">5 Window Coupe</a></li>
      <li><a href="#">Grande Parisienne</a></li>
      <li><a href="#">Parisienne</a></li>
      <li><a href="#">Parisienne Custom Sport</a></li>
      <li><a href="#">GTO</a></li>
      <li><a href="#">Tempest</a></li>
      <li><a href="#">Le Mans</a></li>
    </ul>
  </div>

  <!-- Body Column -->
  <div class="col-sm-9">

      <div class="row">
        <div class="clearfix">
          <% @vehicles.each do |vehicle| %>
            <div class="col-sm-6 bottom">
              <h3 class="item-title"><%= link_to "#{vehicle.make} #{vehicle.model}", vehicle %></h3>
                <%= image_tag(vehicle.primary_image.image_url, class: "img-responsive") if vehicle.primary_image %>
                <p class="index-info"><%= vehicle.user.name %>'s <%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %></p>
                <%= link_to "View Details", vehicle, class: "item-more" %>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
