<div class="row">
  <!-- Side Column -->
  <div class="col-sm-3">
    <h3 class="item-category">Make & Year: </h3>
    <ul class="side-menu">
      <%= form_tag filter_vehicles_path do |f| %>
        <% Vehicle.makes.each do |make| %>
            <%= check_box_tag "makes[]", make -%>
            <li><%= make -%></li>
        <% end %>

        <% Vehicle.year_ranges.each do |range| %>
            <%= check_box_tag "years[]", range -%>
            <li><%= range -%></li>
        <% end %>

        <%= submit_tag "Filter" %>
      <% end %>
    </ul>
  </div>

  <!-- Body Column -->
  <div class="col-sm-9">

      <div class="row">
        <div class="clearfix">
          <% @vehicles.each do |vehicle| %>
            <div class="col-sm-6 bottom">
              <h3 class="item-title"><%= link_to "#{vehicle.make} #{vehicle.model}", vehicle %></h3>
                <%= image_tag(vehicle.primary_image.image_url, class: "img-responsive") if vehicle.primary_image %>
                <p class="index-info"><%= vehicle.user.name %>'s <%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %></p>
                <%= link_to "View Details", vehicle, class: "item-more" %>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
