<h1>Vehicles#show</h1>
<p>Find me in app/views/vehicles/show.html.erb</p>

<ul>
  <li><%= @vehicle.make %></li>
  <li><%= @vehicle.model %></li>
  <li><%= @vehicle.year %></li>
  <li><%= @vehicle.production_date %></li>
  <li><%= @vehicle.engine %></li>
  <li><%= @vehicle.transmission %></li>
  <li><%= @vehicle.trim %></li>
  <li><%= @vehicle.color %></li>
  <li><%= @vehicle.options %></li>
  <li><%= @vehicle.location %></li>
  <li><%= @vehicle.description %></li>
</ul>