<div class="row">
  <!-- Body Column -->
  <div class="col-sm-9">
    <h3 class="item-title"><%= @vehicle.user.name %>'s <%= @vehicle.year %> <%= @vehicle.make %></h3>

    <% if policy(@vehicle).edit? %>
      <%= link_to "Edit", edit_vehicle_path(@vehicle), class: 'btn btn-success' %>
    <% end %>
    <hr />

    <% if @primary_image %>
      <%= image_tag @primary_image.image_url %>
    <% end %>
    <hr />
    
    <div class="row">
      <% @images.each do |img| %>
        <div class="col-sm-3 top">
          <%= image_tag img.image_url, class: "img-responsive" %>
        </div>
      <% end %>
    </div>
    <hr />

    <p><%= @vehicle.description %></p>
  </div>
  <!-- Specification Column -->
  <div class="col-sm-3">
    <h3 class="item-title">Specifications</h3>
    <dl class="item">
      <dt><strong>Make:</strong></dt>
      <dd><%= @vehicle.make %></dd>
      <dt><strong>Model:</strong></dt>
      <dd><%= @vehicle.model %></dd>
      <dt><strong>Year:</strong></dt>
      <dd><%= @vehicle.year %></dd>
      <dt><strong>Production Date:</strong></dt>
      <dd><%= @vehicle.production_date %></dd>
      <dt><strong>Engine:</strong></dt>
      <dd><%= @vehicle.engine %></dd>
      <dt><strong>Transmission:</strong></dt>
      <dd><%= @vehicle.transmission %></dd>
      <dt><strong>Trim:</strong></dt>
      <dd><%= @vehicle.trim %></dd>
      <dt><strong>Color:</strong></dt>
      <dd><%= @vehicle.color %></dd>
      <dt><strong>Options:</strong></dt>
      <dd><%= @vehicle.options %></dd>
      <dt><strong>Location:</strong></dt>
      <dd><%= @vehicle.location %></dd>
    </dl>
  </div>
</div>