<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CanadianPoncho</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="wrapper">

    <div class="bg">
      <div id="primary-wrapper">

        <header class="flex-header">
          <%= image_tag("cp_brand_01.png", id: "brand") %>
          <h1>Canadian Poncho</h1>
          <span class="toggleNav" data-target-id="menu" onclick="toggleNavMenu(event)">☰ Menu</span>
          <nav id="menu" class="flex-nav">
            <ul>
              <li><%= link_to "Registry", root_path, class: nav_active(root_path) %></li>
              <li><%= link_to "Forum", "http://canadianponcho.activeboard.com/index.spark" %></li>
              <li>
               <% if current_user %>
                 <%= link_to "Edit Account",
                 edit_user_registration_path, class: nav_active(edit_user_registration_path) %>
              </li>
              <li>
                 <%= link_to "Dashboard", current_user, class: nav_active(user_path(current_user)) %>
              </li>
              <li>
                 <%= link_to "Sign out", destroy_user_session_path,
                 method: :delete %>
              </li>
               <% else %>
                 <li><%= link_to "Sign In", new_user_session_path, class: nav_active(new_user_session_path) %></li>
                 <li><%= link_to "Sign Up", new_user_registration_path, class: nav_active(new_user_registration_path) %></li>
               <% end %>
            </ul>
          </nav>
        </header>

      </div>
    </div>

    <% if flash[:notice] %>
     <span class="flash">
       <%= flash[:notice] %>
       <span>Please click to close this window.</span>
     </span>
    <% elsif flash[:error] %>
     <span class="flash">
       <%= flash[:error] %>
       <span>Please click to close this window.</span>
     </span>
    <% elsif flash[:alert] %>
     <span class="flash">
       <%= flash[:alert] %>
       <span>Please click to close this window.</span>
     </span>
    <% end %>

    <%= yield %>

    <footer>
      <p>Copyright &copy; 2015, Canadian Poncho. All rights reserved.</p>
      <p>Contact <%= mail_to "jonathanmusso@gmail.com", "webmaster" %>.</p>
    </footer>

  </div>

</body>
</html>
