<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CanadianPoncho</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'main' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
  <!-- NAVIGATION -->
  <nav class="navbar navbar-custom">
    <div class="container-fluid bg-gray">
      <div class="container">
        <ul class="nav navbar-nav navbar-right">
         <li><input type="search" id="search" placeholder="Search..." /></li>
        </ul>
      </div>
     </div>
  </nav>

  <!-- BRAND + INFO -->
  <div class="container-fluid content-buffer bg-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <%= image_tag("pontiac_brand_footer.png", class: "img-responsive center-block") %>
        </div>
        <div class="col-sm-9 bg">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"><i class="fa fa-bars"></i></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <ul id="mynav" class="nav navbar-nav nav-secondary navbar-left navbar-collapse collapse">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Registry", vehicles_path %></li>
            <li>
             <% if current_user %>

               <%= link_to "Edit Account",
               edit_user_registration_path %>
            </li>
            <li>
               <%= link_to "Dashboard", current_user %>
            </li>
            <li>
               <%= link_to "Sign out", destroy_user_session_path,
               method: :delete %>
            </li>
             <% else %>
               <li><%= link_to "Sign In", new_user_session_path %></li>
               <li><%= link_to "Sign Up", new_user_registration_path %></li>
             <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container content-buffer">


    <% if flash[:notice] %>
     <div class="alert alert-success">
       <button type="button" class="close" data-dismiss="alert">&times;</button>
       <%= flash[:notice] %>
     </div>
    <% elsif flash[:error] %>
     <div class="alert alert-danger">
       <button type="button" class="close" data-dismiss="alert">&times;</button>
       <%= flash[:error] %>
     </div>
    <% elsif flash[:alert] %>
     <div class="alert alert-warning">
       <button type="button" class="close" data-dismiss="alert">&times;</button>
       <%= flash[:alert] %>
     </div>
    <% end %>

    <%= yield %>
  </div>

  <!-- FOOTER -->
  <div class="container-fluid bg-black content-buffer footer">
    <div class="container">
      <%= image_tag("pontiac_brand_footer.png", class: "img-responsive, center-block") %>
      <h1 class="lead text-center">Copyright &copy; 2015, Canadian Poncho. All rights reserved.</h1>
    </div>
  </div>
</body>
</html>
